{% extends 'guestbook/base.html' %}

{% block style %} 
  {% load static %}
  <link href="{% static 'css/sign.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="container">

      <form class="form-signin" method='POST', action='{% url 'sign' %}'>
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign the Guest Book</h2>
        <div class="form-group">
          <label for="inputName" class="sr-only">Name</label>
          
          {{ form.name }}

        </div>
        <div class="form-group">
          <label for="comment" class="sr-only">Comment:</label>

            {{ form.comment }}

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign</button>
        <button class="btn btn-lg btn-warning btn-block" type="back"><a href="{% url 'index' %}">Back To Home</a></button>
      </form>

    </div> <!-- /container -->

{% endblock content %}
    

